@keyframes pulse-bg {
  0% {
    background-color: var(--gray-darker, gray);
  }
  50% {
    background-color: #353535; // TODO: add in global css vars
  }
  100% {
    background-color: var(--gray-darker, gray);
  }
}