@keyframes pulse-bg {
  0% {
    background-color: #323232; // TODO: add in global css vars
  }
  50% {
    background-color: var(--gray-dark, gray);
  }
  100% {
    background-color: #323232; // TODO: add in global css vars
  }
}