@use 'mixins' as *;

.container {
  width: 100%;
  //height: 100%;
  //padding-left: var(--container-padding, 32px);
  //padding-right: var(--container-padding, 32px);

  padding-inline: 8px;

  @include respond-to(xs) {
    padding-inline: 16px;
  }

  @include respond-to(md) {
    padding-inline: 32px;
  }
}
