@use 'mixins' as *;

.container {
  max-width: 1536px;
  margin-inline: auto;
  padding-inline: 8px;

  @include respond-to(xs) {
    padding-inline: 16px;
  }

  @include respond-to(md) {
    padding-inline: 32px;
  }
}
