@use 'mixins' as *;

body {
  font-family: var(--regular-font, sans-serif);
  color: var(--main-text, white);
  background-color: var(--panel-bg, black);
  user-select: none;

  @include respond-to(xl) {
    background-color: var(--body-bg, black);
    overflow: hidden;
  }
}

.page {
  flex-grow: 1;
}

.scroll-lock {
  overflow: hidden !important;
  position: relative;
  height: 100% !important;
}

img {
  filter: saturate(var(--img-saturate));
}

* {
  @include hide-scrollbar()
}