@mixin text-ellipsis(
  $number-of-lines: 1
) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if $number-of-lines == 1 {
    white-space: nowrap;
  } @else {
    white-space: inherit;

    @supports (-webkit-line-clamp: $number-of-lines) {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: $number-of-lines;
    }
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'xss' {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $breakpoint == 'xs' {
    @media (min-width: 375px) {
      @content;
    }
  } @else if $breakpoint == 'sm' {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == 'xl' {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $breakpoint == '2xl' {
    @media (min-width: 1536px) {
      @content;
    }
  } @else if type-of($breakpoint) == 'number' {
    @media (min-width: $breakpoint + 'px') {
      @content;
    }
  }
}

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-weight: $fweight;
    font-family: $fname;
    font-style: $fstyle;
    src: url($furl) format('woff2');
  }
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}