name: Build and publish docker image to GHCR

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from tag
        id: extract_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/app:${{ env.VERSION }} .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}/app:${{ env.VERSION }}

      - name: Tag image as latest
        run: |
          docker tag ghcr.io/${{ github.repository }}/app:${{ env.VERSION }} ghcr.io/${{ github.repository }}/app:latest
          docker push ghcr.io/${{ github.repository }}/app:latest
